include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include one_lms *.css
recursive-include one_lms *.csv
recursive-include one_lms *.html
recursive-include one_lms *.ico
recursive-include one_lms *.js
recursive-include one_lms *.json
recursive-include one_lms *.md
recursive-include one_lms *.png
recursive-include one_lms *.py
recursive-include one_lms *.svg
recursive-include one_lms *.txt
recursive-exclude one_lms *.pyc