<!--
        Available data format ->
        {
                'course': 'avsec-awareness-awareness-course',
                'members': ['John Doe', 'Jane Doe'],
                'names': ['6d20f46457', '99b4102534']  (IDs of LMS Enrollment)
        }
-->
{% set date = frappe.format_date(frappe.utils.today()) %}
{% set course = frappe.db.get_value("LMS Course", course, ["title", "name", "image"], as_dict=True) %}
<p>
        {{ _("The following trainees have successfully completed the course {0} on {1}").format(frappe.bold(course_name), date) }}
</p>
<br>
<table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th class="text-center">SI No.</th>
            <th class="text-center">ID Number</th>
            <th class="text-center">Trainee Name</th>
            <th class="text-center">Course Name</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        {% set user = frappe.db.get_value("User", member, ["full_name", "username"], as_dict=True) %}
                <tr>
                    <td class="text-center">{{ loop.index }}</th>
                    <td class="text-center">{{ user.username }}</th>
                    <td class="text-center">{{ user.full_name }}</td>
                    <td class="text-center">{{ course.title }}</td>
                </tr>
        {% endfor %}
    </tbody>
</table>
